
  
  .wrapper {
    background-color: rgb(5, 4, 5);
    
    max-width: 100%;
    display: flex;
    flex-direction: row;
    height: 80%;
  }
  
  .left, .right {
    background-color: rgb(138, 135, 143);
    
    margin: 5px;
    max-width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .left {
    align-items: center;
    justify-content: center;
  }
  
  .profile-picture {
    border-radius: 50%;
  }